.totalpoints { 
    position: absolute;
    top: 280px;
    left: 600px;
    width: 600px;;
    height:200px;
    text-align: center;
    background-color: cadetblue;
    color: white;
    border-radius: 25px;
  }
 
  .studentaddevent { 
    position: absolute;
    top: 570px;
    left: 600px;
    width: 600px;;
    height:0px;
    text-align: left;
    background-color: white;
    color: cadetblue;
    display: inline-block;
  }

  .studentevents { 
    position: absolute;
    top: 690px;
    left: 440px;
    width: 900px;;
    height:0px;
    text-align: center;
    background-color: white;
    color: cadetblue;
    display: inline-block;
    
  }


  span {
    margin: 0 10px;
   }

   /* tbody {
    height: 80em;
    overflow: scroll;
  } */

  .mytable td{
    position: relative;
    top: 0%;
    left: 0%;
    width:300px;
    height:50px;
    text-align: center;
    background-color:white ;
    color: cadetblue;
    font-size:24px;
    border: 1px solid cadetblue;
    
  }
  #table-scroll {
    height:150px;
    overflow:auto;  
    margin-top:20px;
  }
  th{
    position: relative;
    top: 0%;
    left: 0%;
    width: 110px;
    height:30%;
    text-align: center;
    background-color: cadetblue;
    color: white;
    font-size:24px;
  
  }

  .addeventbutton1 {
   
    background-color:cadetblue;
    color: cadetblue;    
    padding: 5px;
    border: 10px;    
    border-radius: 15px;
    cursor:pointer;
    color: white;
    font-size: 30px;
    margin: 4px 2px;
  }