.administrator {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    height:200%;
    text-align: center;
    background-color:white;
    color: cadetblue;
  }

  .generatecodes {
    position: absolute;
    top: 90px;
    left: 500px;
    width: 800px;
    height:100%;
    text-align: center;
    background-color:white;
    color: cadetblue;
  }
  .adminevents {
    position: absolute;
    top: 570px;
    left: 500px;
    width: 950px;
    height:100%;
    text-align: center;
    background-color:white;
    color: cadetblue;
  }

  span {
    margin: 0 10px;
   }
 
   .generatecodesbutton {
   
    background-color:cadetblue;
    color: cadetblue;    
    padding: 20px;
    border: 10px;    
    border-radius: 15px;
    cursor:pointer;
    color: white;
    font-size: 20px;
    margin: 4px 2px;
  }