.addevent { 
    position: absolute;
    top: 20%;
    left: 50%;
    width: 40%;
    height:30%;
    text-align: left;
    background-color: lightblue;
    color: whitesmoke;
  }

  h4 {
    font-size:xx-large;
    text-transform: uppercase;
  }