.prizeinfo {
    position: absolute;
    top: 250px;
    left: 350px;
    width: 100%;
    height:200%;
    text-align: left;
    background-color:white;
    color: cadetblue;
  }
 

  span {
    margin: 0 10px;
   }
 
 